<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpDX" version="2.6.3" targetFramework="portable-win81+wpa81" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="portable-win81+wpa81" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="portable-win81+wpa81" />
  <package id="SharpDX.SimpleInitializer" version="1.0.0" targetFramework="portable-win81+wpa81" />
  <package id="SharpDX.XAudio2" version="2.6.3" targetFramework="portable-win81+wpa81" />
</packages>