*/bin/
*/obj/
*/*/bin/
*/*/obj/
*/*/*/bin/
*/*/*/obj/
AgateLib.Tests/Binaries/
Binaries/
AgateLib.Platform.WindowsStoreCommon/Resources/*.fxo
*/Binaries/*
Binaries/*
AgateLib.sln.ide/
AgateLib-Windows.sln.ide/
*.nupkg
**/packages/*
!**/packages/build/
*.suo
.vs/*
TestResults/*
/Examples/BallBuster.Net/out
