AgateLib.AgateSDL/bin/
AgateLib.AgateSDL/obj/
*/bin/
*/obj/
*/*/bin/
*/*/obj/
AgateLib.Tests/Binaries/
Binaries/
AgateLib.Platform.WindowsStoreCommon/Resources/*.fxo
AgateLib.sln.ide/
AgateLib-Windows.sln.ide/
