<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AgateLib" version="2.0.161.17052" targetFramework="net461" />
  <package id="AgateLib.OpenGL" version="2.0.161.17052" targetFramework="net461" />
  <package id="AgateLib.Platform.WinForms" version="2.0.161.17052" targetFramework="net461" />
  <package id="AgateLib.SDL" version="2.0.161.17052" targetFramework="net461" />
  <package id="MathNet.Numerics" version="3.17.0" targetFramework="net461" />
  <package id="OpenTK" version="2.0.0" targetFramework="net461" />
  <package id="YamlDotNet" version="4.1.0" targetFramework="net461" />
</packages>