
window {
    background-color: blue;
    padding: 8px;
    border: 10px solid black;
    background-image: url(Images/ui_back_1.png);
    border-image-source: url(Images/ui_border_2.png);
    border-image-slice: 10;
    transition: slide 2;
    layout: column;
    max-height: 500px;
}


menuitem {
    padding: 8px;
}

menuitem:selected {
    border-image-source: url(Images/ui_border_1.png);
    border-image-slice: 6;
}

label {
    color: navy;
}

label#label1 {
    color: pink;
}
