<configuration>
  <dllmap os="linux" dll="SDL.dll" target="libSDL-1.2.so.0"/>
  <dllmap os="linux" dll="SDL_mixer.dll" target="libSDL_mixer-1.2.so.0"/>
  <dllmap os="osx" dll="SDL.dll" target="SDL.framework/SDL"/>
  <dllmap os="osx" dll="SDL_mixer.dll" target="SDL_mixer.framework/SDL_mixer"/>
</configuration>
